http:
  routers:
    copytrading-dashboard:
      rule: "Host(`copytrader-alpha.{{ domain }}`)"
      entryPoints:
        - web-secure
      service: copytrading-dashboard
      tls:
        certResolver: default

  services:
    copytrading-dashboard:
      loadBalancer:
        servers:
          - url: "http://{{ copytrading_backend_ip | default('172.22.0.31') }}:80"
